﻿@model KalbeSales.Models.Product

@{
    var isEditMode = Model.ProductID > 0;
    var action = isEditMode ? "Edit" : "Create";
}

<h1>@(isEditMode ? "Edit Product" : "Create Product")</h1>

<form asp-action="@action">
    @if (isEditMode)
    {
        <input type="hidden" asp-for="ProductID" />
    }

    <div class="form-group">
        <label asp-for="ProductCode">Product Code</label>
        <input asp-for="ProductCode" class="form-control" />
        <span asp-validation-for="ProductCode" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProductName">Product Name</label>
        <input asp-for="ProductName" class="form-control" />
        <span asp-validation-for="ProductName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Quantity">Quantity</label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price">Price</label>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <!-- Add other form fields for additional properties as needed -->

    <div class="form-group">
        <button type="submit" class="btn btn-primary">@action</button>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>
