﻿@using KalbeSales.ViewModels
@model IEnumerable<ProductViewModel> 

<h1>Daftar Produk</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Tambah Baru</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Product Code</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Qty</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductCode</td>
                <td>@product.ProductName</td>
                <td>@product.Price.ToString("C")</td> 
                <td>@product.Quantity</td> 
                <td>
                    <a asp-action="Edit" asp-route-id="@product.ProductID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@product.ProductID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
