﻿@model KalbeSales.Models.Customer

<h1>@(Model.CustomerId == 0 ? "Create Customer" : "Edit Customer")</h1>

<form asp-action="@(Model.CustomerId == 0 ? "Create" : "Edit")" method="post">
    @if (Model.CustomerId != 0)
    {
        <input type="hidden" asp-for="CustomerId" />
    }
    <div class="form-group">
        <label asp-for="CustomerName">Customer Name</label>
        <input asp-for="CustomerName" class="form-control" />
        <span asp-validation-for="CustomerName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CustomerAddress">Customer Address</label>
        <input asp-for="CustomerAddress" class="form-control" />
        <span asp-validation-for="CustomerAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gender">Gender</label>
        <select asp-for="Gender" class="form-control">
            <option value="true">Male</option>
            <option value="false">Female</option>
        </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TanggalLahir">Tanggal Lahir</label>
        <input asp-for="TanggalLahir" type="date" class="form-control" />
        <span asp-validation-for="TanggalLahir" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>
