﻿@using KalbeSales.ViewModels
@model IEnumerable<CustomerViewModel>

<h1>Customer List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Customer Address</th>
            <th>Gender</th>
            <th>Tanggal Lahir</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.CustomerName</td>
                <td>@customer.CustomerAddress</td>
                <td>@(customer.Gender ? "Pria" : "Wanita")</td>
                <td>@customer.TanggalLahir.ToShortDateString()</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@customer.CustomerId">Edit</a> |
                          <a asp-action="Delete" asp-route-id="@customer.CustomerId" onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
