﻿@model KalbeSales.Models.Sales

<h1>@(Model.SalesId == 0 ? "Create Sale" : "Edit Sale")</h1>

<form asp-action="@(Model.SalesId == 0 ? "Create" : "Edit")" method="post">
    @Html.HiddenFor(model => model.SalesId) <!-- Add this hidden field -->
    <div class="form-group">
        <label asp-for="CustomerId">Customer</label>
        <select asp-for="CustomerId" asp-items="ViewBag.Customers" class="form-control">
        </select>
        <span asp-validation-for="CustomerId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ProductId">Product</label>
        <select asp-for="ProductId" asp-items="ViewBag.Products" class="form-control">
        </select>
        <span asp-validation-for="ProductId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateOrder">Date Order</label>
        <input asp-for="DateOrder" type="date" class="form-control" />
        <span asp-validation-for="DateOrder" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Quantity">Quantity</label>
        <input asp-for="Quantity" class="form-control" />
        <span asp-validation-for="Quantity" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>
