﻿@model int 

<h1>Delete Confirmation</h1>

<p>Are you sure you want to delete this record?</p>

<form method="post">
  <input type="hidden" name="salesId" value="@Model" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
