﻿@model IEnumerable<KalbeSales.ViewModels.SalesViewModel>

<h1>Sales List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Sales ID</th>
            <th>Customer Name</th>
            <th>Product Name</th>
            <th>Date Order</th>
            <th>Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sale in Model)
        {
            <tr>
                <td>@sale.SalesId</td>
                <td>@sale.CustomerName</td>
                <td>@sale.ProductName</td>
                <td>@sale.DateOrder.ToString("yyyy-MM-dd")</td>
                <td>@sale.Quantity</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@sale.SalesId">Edit</a> |
                  <a asp-action="Delete" asp-route-id="@sale.SalesId" onclick="return confirm('Are you sure you want to delete this record?')">Delete</a>


                </td>

            </tr>
        }
    </tbody>
</table>
